<h3>Edit Article</h3>
<form action="<%= bookmark_url %>" method="post">
  <input type="hidden" 
         name="_method" 
        value="put">
  <input type="hidden" 
         name="authenticity_token" 
        value="<%= form_authenticity_token %>">
  
  <label for="bookmark_url">URL:</label>
  <input type="text" name="bookmark[url]" value="<%= @bookmark.url %>" id="bookmark_url">
  <br>
  
  <label for="bookmark_title">Title:</label>
  <input type="text" name="bookmark[title]" value="<%= @bookmark.title %>" id="bookmark_title">
  <br>
  
  <label for="bookmark_summary">Summary:</label>
  <input type="text" name="bookmark[summary]" value="<%= @bookmark.summary %>" id="bookmark_summary">
  <br>
  
  <input type="submit" value="Save changes">
</form>