<div id="sidebar">
  <h3>Your Articles</h3>
  <ul>
    <li>Unread</li>
    <li>Liked</li>
    <li>Archive</li>
  </ul>
  <br>
  <h3>Discover</h3>
  <ul>
    <li>How to Save</li>
  </ul>
</div>

<div id="content">
  <ul>
    <li><p>Unread</p></li>
    <% @bookmarks.each do |bookmark| %>
    <li>
      <div class="bookmark" data-bookmark-id="<%= bookmark.id %>">
        <p><%= bookmark.title %></p>
        <%= link_to("Edit", edit_bookmark_url(bookmark.id), :method => :get) %>
        <!-- <%= link_to("Favorite", favorites_url, :method => :post )%> -->
        <!-- <a href="<%= %>">Favorite</a> -->
        <!-- <a href="<%= %>">Archive</a> -->
        <%= link_to("Delete", bookmark_url(bookmark.id), :method => :delete) %>
      </div>
    </li>
    <% end %>
  </ul>
</div>

