<script>
$(document).ready(function() {
  $("#sidebar").hide();
  $("#content").removeClass("col-md-10");
});
</script>

<nav class="navbar navbar-default" role="navigation">
  <div class="row" id="navbar_row">
    <div class="col-md-7">
      <img id="icon" src="assets/newspaper_icon.jpg"></img>
      <h2 id="root_header">SavedPages</h2>
    </div>
    <div class="col-md-5 account">
      <a data-toggle="modal" href="#create_user_modal" id="create_acct">Create Account</a>
      <a data-toggle="modal" href="#sign_in_modal">Sign In</a>
    </div>
</nav>





<!-- Create User Modal -->
<div class="modal fade" id="create_user_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create An Account</h4>
      </div>
      <div class="modal-body">
        <form action="<%= users_url %>" method="post">
          <input type="hidden" 
                 name="authenticity_token"
                value="<%= form_authenticity_token %>">
          <label for="user_email">Email:</label>
          <input type="text" name="user[email]" id="user_email">
          <br>
          <label for="user_password">Password:</label>
          <input type="password" name="user[password]" id="user_password">
          <br>
          <input type="submit" value="Create Account">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Sign In Modal -->
<div class="modal fade" id="sign_in_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <form action="<%= session_url %>" method="post">
          <input type="hidden" 
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">
          <label for="user_email">Email:</label>
          <input type="text" name="user[email]" id="user_email">
          <br>
          <label for="user_password">Password:</label>
          <input type="password" name="user[password]" id="user_password">
          <br>
          <input type="submit" value="Sign In">
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Demo Account Form -->
<form type="<%= ">


<section id="root_main">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/laptop.jpg"></img>
      </div>
      <div class="col-md-6" id="root_main_right">
        <h3>
          A simple tool for saving web pages 
          to read later on any computer or mobile device.
        </h3>
        <a data-toggle="modal" class="btn btn-danger btn-lg" href="#create_user_modal">Create an Account</a>
        <a class="btn btn-danger btn-lg" href="#">Sign in with Demo</a>
      </div>
    </div>
  </div>
</section>

<section id="root_tutorial">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>How it Works</h3>
          <div>
            <span class="glyphicon glyphicon-bookmark root"></span>
            <h3>Add the Bookmarklet</h3>
            <p>Install the SavedPages bookmarklet by dragging it to your bookmark bar.</p>
          </div>
        </div>
        <div class="col-md-4 inner">
          <div>
            <span class="glyphicon glyphicon-list-alt root"></span>
            <h3>Save Articles for Later</h3>
            <p>When you find something you want to read, but you don't have the time, click the bookmarklet.</p>
          </div>
        </div>
        <div class="col-md-4 inner">
          <div>
            <span class="glyphicon glyphicon-briefcase root"></span>
            <h3>Read Anywhere</h3>
            <p>Return to the article later by signing in to your account.</p>
          </div>
        </div>
      </div>
    </div>
</section>