<!DOCTYPE html>
<html lang="en">
<head>
  <title>SavedPages</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="application/json" id="bootstrapped_user_json">
    { "current_user": <%= current_user.to_json.html_safe %> }
  </script>
</head>
<body>
  <div class="container-fluid">
    <div class="row-fluid">
    
      <div id="sidebar" class="col-md-2"></div>
      <div id="content" class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>

