<!DOCTYPE html>
<html>
<head>
  <title>SavedPages</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
  <%= current_user.email %>
  <%= button_to("Log out", session_url, method: :delete) %>
  <% end %>

  <div id="container">
    <div id="sidebar"></div>
    <div id="content"><%= yield %></div>
  </div>
  
</body>
</html>
